{% extends 'base.html.twig' %}

{% block title %}Python{% endblock %}

{% block body %}
        <div class="container-fluid mt-5">
            <h1>Programmation</h1>
            <!-- Début de l'Accordion Bootstrap -->
            <div class="accordion" id="accordionProg">
                <!-- Première Ligne : 4 Cartes -->
                <div class="row justify-content-center">
                    <!-- Carte 0 : Default -->
{#                    {% include 'home/fragments/programmation/default/index.html.twig' %}#}

                    <!-- Carte 1 : request -->
                    {% include 'home/fragments/programmation/request/index.html.twig' %}
                    <!-- Carte 2 : Base64 -->
{#                    {% include 'home/fragments/programmation/card2.html.twig' %}#}

                    <!-- Carte 3 : CalculMental -->
                    {#                    {% include 'home/fragments/programmation/card2.html.twig' %}#}

                    <!-- Carte 4 : DeuxFoisDeSuite -->
                    {#                    {% include 'home/fragments/programmation/card2.html.twig' %}#}
                </div>
            </div>
        </div>






{% endblock %}
