<div class="modal fade" id="showScriptTcpRetourAuCollegeModal" tabindex="-1" aria-labelledby="showScriptTcpRetourAuCollegeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showScriptTcpRetourAuCollegeModalLabel">Voir le script Python - Base 64</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea id="script-content-show-tcpRetourAuCollege" class="form-control" rows="15" readonly></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="copy-script-tcpRetourAuCollege-btn">
                    <i class="fa-solid fa-copy"></i>
                </button>
            </div>
        </div>
    </div>
</div>
